@{
    ViewBag.Title = "Acceuil";
}

<div class="jumbotron">
    <h1> Gestion Des stocks</h1>
    <p class="lead">Application de Gestion des stocks avec ASP.NET MVC5 Entity Framework 6 et SQLite </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Voir Plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Voir L'article sur Developpez.com</h2>
        <p>
            Un article complet qui decrit cette application ainsi que les technologies et les design utilisés 
        </p>
        <p><a class="btn btn-default" href="#">Voir Plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion des stocks</h2>
        <p> Cette application reprend les données de la fameuse base de données Northwind</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Voir plus &raquo;</a></p>
    </div>
</div>